body
{
    background-image: url("photo/signup.jpg");
    background-size:cover;
    background-repeat: no-repeat;
}
#clr
{
    color: white;
}
label
{
    width: 200px;
    display: inline-block;
}
#specl
{
    text-align: center;
}
#lsti
{
    text-align: center;
}
#l
{
    text-align: center;
    margin-left: 520px;
}
#res
{
    position: relative;
    left: 20px;
}
#sinup
{
    padding: 5px 20px;
}
#res
{
    padding: 5px 20px;
}
